@import 'tailwindcss';

@theme {
  --color-slate-975: #1d1e2c;
}

@layer base {
  * {
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }
}
