@import 'tailwindcss';

@theme {
  --color-surface-400: #aeb1b5;
  --color-surface-950: #080f15;
  --color-surface-850: #0e1f29;
  --color-surface-875: #102531;
  --color-surface-900: #0b1921;
  --color-brand-725: #102734;
  --color-brand-600: #1b3e52;
  --color-brand-675: #183749;
  --color-brand-650: #153c4a;
  --color-brand-700: #1a3b4d;
  --color-brand-550: #234f68;
  --color-brand-500: #367ba2;
  --color-accent-500: #2a6063;
  --color-brand-400: #55c2c9;

  --breakpoint-xs: 23.4375rem;
  --breakpoint-sm: 26.5625rem;
  --breakpoint-2xl: 90rem;
  --breakpoint-3xl: 120.0625rem;

  --gradient-text-white: linear-gradient(
    90deg,
    rgb(255 255 255 / 50%) 0%,
    rgb(255 255 255) 58.17%,
    rgb(255 255 255 / 50%) 100%
  );

  --gradient-text-brand: linear-gradient(
    90deg,
    var(--color-accent-500) 0%,
    var(--color-brand-400) 50.48%,
    var(--color-accent-500) 100%
  );

  --background-image-border-brand: linear-gradient(
    142deg,
    rgb(from var(--color-brand-550) r g b / 20%) 77%,
    var(--color-brand-400) 100%
  );

  --background-image-button-brand: linear-gradient(
    90deg,
    var(--color-brand-600) 0%,
    rgb(from var(--color-brand-600) r g b / 50%) 30%,
    rgb(from var(--color-brand-600) r g b / 32%) 50.48%,
    rgb(from var(--color-brand-600) r g b / 50%) 70%,
    var(--color-brand-600) 100%
  );
}

@layer utilities {
  .text-gradient {
    background: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient-white {
    --text-gradient: var(--gradient-text-white);
  }

  .text-gradient-brand {
    --text-gradient: var(--gradient-text-brand);
  }
}

@layer base {
  * {
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  button {
    cursor: pointer;
  }
}
